@import '../../../sass/mixins';

*:focus{
  outline: none;
}

.header {
  z-index: 1000;
  outline: none;
  top: 0;
  display: block;
  min-height: 50px;
  width: 100%;
  position: fixed;
  background-color: #343a40;
  text-decoration: none;
  #navbarSupportedContent {
    background-color: #343a40;
  }
  .navigation {
    height: 50px;
    ul {
      margin: 0;
      height: 100%;
      padding: 0;
      list-style: none;
      display: inline-flex;

      a {
        line-height: 50px;
        color: white;
        padding: 0 20px 0 20px;
        text-decoration: none;
        text-align: center;
        display: block;
        height: 100%;
        font-size: 22px;

        &:hover {
          color: #dbdbdb;
          background-color: #414141;
        }
      }
      li {
        position: relative;
      }
    }
  }
  .switch__btn {
    line-height: 50px;

    button {
      padding: 0;
      color: white;
      border: none;
      background-color: transparent;

    }
    @media (max-width: 970px) {
      margin-left: 20px;
    }
  }

  .first__btn {
    @media (min-width: 970px) {
      margin-left: 200px;
    }
  }

  .navbar-toggler-icon {
    color: white;
  }

  .active__language {
    font-weight: 900;
  }
}

.navigation .pipe:after {
  @media (min-width: 970px) {
    @include pipe-after(50%);
  }

}

