<section class="footer__section">
    <div class="container row">
        <div class="col-md-7 left__block">
            <h2>{{"footer.title"|translate}}</h2>
            <p>{{"footer.content"|translate}}</p>

        </div>
        <div class="col-md-5 right__block">
            <h2>{{'footer.contact'|translate}}</h2>
            <span> <i class="material-icons">email</i>  email@domena.com</span>
            <span><i class="material-icons">location_city</i> {{'footer.city'|translate}}</span>
            <span><i class="material-icons">streetview</i>  Nowoursynowska 161</span>
            <span><i class="material-icons">phone</i> 123-456-789</span>
        </div>
    </div>
    <div class="row">
        <div class="copyright__section col-12">
            <span class="copyright">© 2018 Kamil Rytel</span>
        </div>
    </div>
</section>